.left
{
    padding: 10px;
    margin: 15px;
    background-color:goldenrod;
}

.right
{
    margin: 15px;
    padding: 10px;
    background-color:grey; 
}

.up
{
    margin: 15px;
    width: 300px;
    height: 100px;
    text-align: center;
    background-color:violet; 
}

.down
{
    width: 300px;
    margin: 15px;
    padding: 10px;
    background-color:darkslategrey;  
}

.slow
{
    margin: 15px;
    padding: 10px;
    background-color:darkcyan;
}

.fast
{
    margin: 15px;
    padding: 10px;
    background-color:dodgerblue;
}