body{
    background-color: grey;
}

table {
    width: 50%;
    margin: 0 auto;
    margin-top: 300px;
    border-collapse: collapse; 
    background-color: #333;
    /* background-image: url(https://www.lifewire.com/thmb/wVyez41W-qWD7AB--Qy43z0FyTM=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/what-is-binary-and-how-does-it-work-4692749-1-1eaec2e636424e71bb35419ef8d5005b.png) */
}

th,
td {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #97A4AA;
    color: #333;
    font-size: 18px;
}

td {
    font-size: 16px;
    color: #FFF;
}

.italic {
    font-style: Bold;
}